@import 'nib'

.navbar
  border: 0;
  background-image: none;
  // background-color: #2494F2;
  color: #FFF;
  padding-left: 10px;
  padding-right: 25px;
.navbar-default
  border-color: #2494F2;
.navbar-fixed-top
  top: 0;
  border-width: 0 0 1px;
.navbar-fixed-top, .navbar-fixed-bottom
  border-radius: 0;
.navbar-fixed-top, .navbar-fixed-bottom 
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
.navbar 
  min-height: 50px;
  margin-bottom: 20px;
.container-fluid
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
.container  .navbar-header, .container-fluid  .navbar-header, .container  .navbar-collapse, .container-fluid  .navbar-collapse 
  margin-right: 0;
  margin-left: 0;
.navbar-header 
  float: left;
.navbar  .container .navbar-brand, .navbar  .container-fluid .navbar-brand 
  margin-left: -15px;
.navbar-default .navbar-brand 
  padding-left: 35px;
  text-align: left;
  width: 206px;
  color: #2494F2;
  background: url(../images/logo.png) no-repeat 0 11px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-weight: 300;
  font-size: 19px;
  line-height: 18px;
  height: auto;
.navbar-brand 
  float: left;
  padding: 15px 15px;
a 
  color: #3380FF;
  text-decoration: none;
  outline: 0 none;
.navbar-default .navbar-collapse, .navbar-default .navbar-form
  border-color: #e7e7e7;
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse 
  padding-right: 0;
  padding-left: 0;
.navbar-collapse.collapse 
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
.navbar-collapse
  max-height: none !important;
  position: relative;
.navbar-collapse 
  width: auto;
  border-top: 0;
  box-shadow: none;
.navbar-nav 
  float: left;
  margin: 0;
.nav 
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
// .navbar-nav  li 
//   float: left; 
// .nav  li
//   position: relative;
//   display: block;
#cl-wrapper 
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
#cl-wrapper 
  padding-top: 50px;
.cl-sidebar
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 49px;
.cl-sidebar
  background: #272930;
  width: 216px;
  z-index: 2;
#cl-wrapper.fixed-menu .menu-space 
  position: fixed;
  width: 216px;
  background: #272930;
.nano 
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
#cl-wrapper.fixed-menu .menu-space .content
  outline: none;
.nano .content 
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
.dropdown-submenu 
    position: relative;
.dropdown-submenu .dropdown-menu
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
.dropdown-submenu:hover .dropdown-menu
    display: block;
.dropdown-submenu a:after
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
.dropdown-submenu:hover a:after 
    border-left-color: #fff;
.dropdown-submenu.pull-left
    float: none;
.dropdown-submenu.pull-left .dropdown-menu
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;


// growl overwrite
.growl
  z-index 10000