.container
  h1.cart-heading YOUR SHOPPING BAG
    p.right
      a(ui-sref="main.list") Back to listing
  hr
  if (cartItems != 0)
    table.table
      thead
        tr
          th
              {{cartItems.length}} Item
          th
          th Size
          th Qty
          th Price
      tbody
        tr.info(ng-repeat="item in cartItems")
          td
            img(src="/img/T{{item.p_id}}.jpg")
          td
            span
                strong {{item.p_variation | uppercase}} {{item.p_name | uppercase}}
                p Style #: {{item.p_style | uppercase}}
                p Selected Color : {{item.p_selected_color.name | uppercase}}
            span
                button.edit.btn.btn-default(ng-click="edit($index)") Detail
                button.btn.btn-default(ng-click="removeItem()") REMOVE
          td {{item.p_selected_size.code | uppercase}}
          td
            input.form-control(type="number" ng-model="item.p_quantity" min="0" style='width:60px;')
          td
            input.form-control(type="number" ng-model="item.p_price"  min="0" disabled style='width:60px;')
    hr
    div(ui-view="paymentView")
