
button.close(aria-hidden='true', data-dismiss='modal', type='button' ng-click="closeModal()")  ×
.edit-modal.col-md-15
  .thumbnail
      .col-lg-7.col-md-7.col-sm-7.col-xs-12.modal-details.no-padding
        .modal-details-inner
          hr
          h1.product-title {{item.p_name | uppercase}}
          .product-price
              span.price-sales  {{item.c_currency}}
              span.price-standard {{item.p_price}}
          .color-details
              span.selected-color
                strong {{item.p_selected_color.name | uppercase}}
              ul.swatches.Color
                li(ng-repeat="data in item.p_available_options.colors")
                  a(style='background-color:{{data.hexcode}}')
          .productFilter.productFilterLook2
            .row
              .col-lg-6.col-sm-6.col-xs-6
                .filterBox
                  select.form-control
                    option(ng-repeat="data in item.p_available_options.sizes" value='data.name', selected='') {{data.name}}
              .col-lg-4.col-sm-6.col-xs-4
                .filterBox
                  input.form-control(type="number" ng-model="item.p_quantity" min="0" style='width:50px;')
          .cart-actions
            .col-lg-6
                a.btn.btn-primary.btn-close(ng-click="closeModal()") Close
      .col-lg-5.col-md-5.col-sm-5.col-xs-12
        img(src="/img/T{{item.p_id}}.jpg")
