<!-- Page Content -->
.container

    <!-- Jumbotron Header -->
    header.jumbotron.hero-spacer
        h1 Sapient E-commerce
        p This is the demo app created for the Sapient Development Test.
        p
          a.btn.btn-primary.btn-large(ui-sref="main.cart.payment" ng-disabled="cart.length < 1") Item in Cart: {{cart.length}}

    hr

    <!-- Title -->
    .row
        .col-lg-12
            h3 Latest Product
    <!-- /.row -->

    <!-- Page Features -->
    .text-center(ng-repeat="product in products"  ng-if="$index % 4 == 0" class="row")

        .col-md-3.col-sm-6.hero-feature
            .thumbnail
                img(src="/img/T{{products[$index].p_id}}.jpg")
                .caption
                    h3 {{products[$index].p_name}}
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    p
                        .span6
                          .lead {{products[$index].c_currency}}{{products[$index].p_price}}
                        a.btn.btn-primary(ng-click="addToCart(products[$index])" ng-show="itemInCart.indexOf(products[$index].p_id) == -1 ?  true : false") Add to Cart!
                        a.btn.btn-default(ng-click="addToCart(products[$index])" ng-show="itemInCart.indexOf(products[$index].p_id) != -1 ? true :false" disabled) Added to Cart

        .col-md-3.col-sm-6.hero-feature
            .thumbnail
                img(src="/img/T{{products[$index+1].p_id}}.jpg")
                .caption
                    h3 {{products[$index+1].p_name}}
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    p
                        .span6
                          .lead {{products[$index+1].c_currency}}{{products[$index+1].p_price}}
                          a.btn.btn-primary(ng-click="addToCart(products[$index+1])" ng-if="itemInCart.indexOf(products[$index+1].p_id) == -1 ?  true : false") Add to Cart!
                          a.btn.btn-default(ng-click="addToCart(products[$index+1])" ng-if="itemInCart.indexOf(products[$index+1].p_id) != -1 ?  true : false" disabled) Added to Cart

        .col-md-3.col-sm-6.hero-feature
            .thumbnail
                img(src="/img/T{{products[$index+2].p_id}}.jpg")
                .caption
                    h3 {{products[$index+2].p_name}}
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    p
                        .span6
                          .lead {{products[$index+2].c_currency}}{{products[$index+2].p_price}}
                          a.btn.btn-primary(ng-click="addToCart(products[$index+2])" ng-if="itemInCart.indexOf(products[$index+2].p_id) == -1 ?  true : false") Add to Cart!
                          a.btn.btn-default(ng-click="addToCart(products[$index+2])" ng-if="itemInCart.indexOf(products[$index+2].p_id) != -1 ?  true : false" disabled) Added to Cart

        .col-md-3.col-sm-6.hero-feature
            .thumbnail
                img(src="/img/T{{products[$index+3].p_id}}.jpg")
                .caption
                    h3 {{products[$index+3].p_name}}
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    p
                        .span6
                          .lead {{products[$index+3].c_currency}}{{products[$index+3].p_price}}
                          a.btn.btn-primary(ng-click="addToCart(products[$index+3])" ng-if="itemInCart.indexOf(products[$index+3].p_id) == -1 ?  true : false") Add to Cart!
                          a.btn.btn-default(ng-click="addToCart(products[$index+3])" ng-if="itemInCart.indexOf(products[$index+3].p_id) != -1 ?  true : false" disabled) Added to Cart

    hr
