.col-lg-5.contact-detail
  span
    strong Need help or have questions?
  span
    p Call Customer Service at
    | 1-800-555-5555
  span.underline
    p Chat with one of
    p our styllist
  span.underline
    p See return
    p & exchange policy
.col-lg-7
  table.table
    thead
      tr
        th ENTER PROMOTION CODE
          | OR GIFT CARD
        th
          input.form-control(type="text" width="100px" ng-model="promocode")
        th
          input.btn.btn-default(type="button" value="APPLY" ng-click="discount()")
    tbody
      tr
        td
          strong SUBTOTAL
        td
        td {{total() | currency}}
      tr
        td
          strong PROMOTION CODE {{promocode}} APPLIED
        td
        td
          input.form-control(type="text" ng-model="discountAmt"  min="0" disabled style='width:70px;')
      tr
        td
          strong ESTIMATED SHIPPING
          p You qualify for free shipping
          p Order is over $50
        td
        td {{shipping() >0 ? "$" + shipping() :'Free'}}
  hr
  table.table
    thead
      tr
        th
          p ESTIMATED TOTAL
        th
        th.right
          h3 {{estimatedAmount()  | currency}}
    tbody
      tr
        td
        td.right
          a(href="javascipt:void()") Continue Shopping
        td
          input.btn.btn-primary(type="button" value="Checkout" disabled)
  span.right
      img(src="/img/assets/lock.jpg")
      |  Secure checkout. Shopping always being safe and secure
