div(growl)
form.form-horizontal.center_login(role="form" ng-submit='register()')
  .form-group
    label.col-sm-2.control-label(for="inputName3") Name
    .col-sm-10
      input.form-control#inputEmail3.inputLoginEmail(type="text" placeholder="Name" ng-model='user.name')
  .form-group
    label.col-sm-2.control-label(for="inputEmail3") Email
    .col-sm-10
      input.form-control#inputEmail3.inputLoginEmail(type="email" placeholder="Email" ng-model='user.email')
  .form-group
    label.col-sm-2.control-label(for="inputPassword3") Password
    .col-sm-10
      input.form-control#inputPassword3.inputLoginPassword(type="password" placeholder="Password" ng-model='user.password')
  //-     span
  //-       .checkbox
  //-         label
  //-           input(type="checkbox")
  //-           label Remember me
          span
             &nbsp &nbsp &nbsp &nbsp &nbsp
             a(ui-sref='register')
               |Register
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type="submit") Register
