div(class="modal-header")
            h3(class="modal-title") Find Your Account!!!
div(class="modal-body")
    form(ng-submit='forgetPass()')
        |Email:
        input(type='Email',value='Email',ng-model='user.email',required)
        div(class="modal-footer")
            input(type = 'submit',value='Submit',class="btn btn-primary")
            input(type = 'button',value='Close!',ng-click='notsure()',class="btn btn-primary")
