table.table
  thead
    tr
      th Meeting ID
      th Start Date
      th Start Time
      th Duration
      th Delete
  tbody
    tr.info(ng-repeat="item in MeetingData")
      td {{item._id}}
      td {{item.startDate | date:'yyyy-MM-dd'}}
      td {{item.startTime | date:'h:mma'}}
      td {{item.duration}}
      td
        a
          i.fa.fa-times(ng-click="deleteItem(item._id,$index)")
