@import 'nib'

textarea
  resize: none;
.textCenter
  text-align: center;
.marginLeft45
  margin-left: 45%;
.marginLeft30
  margin-left: 30%;
.overflowHidden
  overflow: hidden;
.dropdown-menu
  top: 163%;
  left: -125px;
.dropdown
  float: right;
  margin-top: 15px;
.dropdown a
  color : #999;
.dropdown
  list-style: none;
.navbar.navbar-default.navbar-fixed-top
  height: 20px
.dropdown.profile_menu
  margin-top : 5px;
.profile_menu .dropdown-menu
  top :90%;
.tags
  border-radius : 5px;
.center
  margin-left: 30%;
  margin-top: 5%;
.chngePwdStyl
  margin-left: 33%;
.searchFilter
  margin: 1% 0 0 20%;
  display: inline-flex;
.selctUser
  margin-left: 20px;
.padding25
  padding: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
.medInput
  margin-bottom : 5px;
.sv-List
  float: right;
.sv-List span a
  margin-right: 10px;
// .inputFile
//   color: transparent;
.pagination-sm
  margin-left: 40%;

.homepage
  padding-top: 40px;

  .droppable
    height: 100px;
    width: 100%;
    display: inline-block;
  .source
    .values
      height: 494px;
      overflow-y: auto;
      overflow-x: hidden;

.value
  border: 1px solid;
  border-color: rgb(195, 195, 195);
  margin: 5px;
  padding: 5px;
  background-color: white;
  width: 318px;
.morePdf .col-lg-6
.morePdf .col-lg-3
.morePdf .col-lg-9
  margin-top: 10px;
  padding-left: 0px;
.note-margin
  margin-left: 15px;
.panel
  min-height: 220px;
.searchFilter
  margin: 1% 0 0 20%;
  display: inline-flex;
